<% @posts.each do |post| %>
  <article>
    <h2><%= link_to post.title, post %></h2>
    <div class="content"><%= image_tag post.picture.thumb.url %><%= post.content %></div>
    <% if user_signed_in? %>
      <div class="actions">
        <%= link_to 'Editar', edit_post_path(post) %>
        <%= link_to 'Deletar', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
      </div>
    <% end %>
  </article>
<% end %>

